.display-4.m-2
  Settings

.btn.btn-link= link_to 'Pagina iniziale', root_path

.row.justify-content-center
  .col-11.col-md-8.card
    = form_with model: @settings, url: update_current_setting_path, local: true, method: :patch, class: 'card-body m-2' do |f|
      .form-group
        = f.label :food_printer
        = f.select :food_printer, @printers, class: 'form-control'
      .form-group
        = f.label :drink_printer
        = f.select :drink_printer, @printers, class: 'form-control'
      .form-group
        = f.label :customer_printer
        = f.select :customer_printer, @printers, class: 'form-control'
      .form-group
        = f.label :using_esc
        = f.check_box :using_esc
      
      .form-group
        = f.submit "Salva", class: 'btn btn-primary'

