:css
  body {
    /* A5 dimensions */
    width: 148.5mm;
    margin: 0;
    padding: 20px;
  }

  mb {
    margin-bottom: 20px;
  }

  mb-2 {
    margin-bottom: 30px;
  }

  mrow {
    margin-bottom: 5px;
  }

  bold {
    font-
  }

%h1.mb= order_id
%hr.mb
%h2.mb-2= t('products.name')
%table
  %tr
    %th
      QTY
    %th
    - items.each do |item|
      %tr
        %td
          %h3= item.order_quantity
        %td
          %h3= item.name

