- pos_view << Escpos::Helpers.center
- pos_view << Escpos::Helpers.quad_text(order_id)

- pos_view << Escpos::Helpers.left
- items.each do |item|
  - pos_view << Escpos::Helpers.text("#{item.order_quantity}x   #{item.name}")

= pos_view.to_base64
