%button.btn.btn-info{ 'data-toggle': 'modal', 'data-target': '#modalNote' }
  = t('orders.note.show')

.modal.fade#modalNote{ 'tabIndex': '-1', 'role': 'dialog', 'aria-hidden': 'true' }
  .modal-dialog.modal-dialog-centered{ 'role': 'document' }
    .modal-content
      .modal-header
        %h5.modal-title#modalNote= t('orders.note.add')
        %button.close{ 'data-dismiss': 'modal' }
          %span{ 'aria-hidden': 'true' }
            &times;
      .modal-body
        #modalError.m-3.text-danger
        = form_with model: order, url: add_note_order_path(id: order.id), method: :post do |f|
          = f.text_area :note, class: 'form-control mb-3', rows: 3
          = f.submit t('common.save'), class: 'btn btn-primary btn-block'
          
