%li.list-group-item.d-flex.justify-content-between.align-items-center{ id: "item-#{product.id}" }
  %span.badge.badge-primary.badge-pill
    %h5.m-0{id: "item-quantity-#{product.id}"}= product.order_quantity
  .font-weight-bold= product.name
  = form_with model: product, url: remove_product_order_path(id: product.id) do |orderForm|
    = orderForm.submit t('products.remove'), class: 'btn btn-danger'
