= form_with model: item, url: url, class: 'col-6 col-md-4 col-lg-3 m-2' do |f|
  - color = if item.color then item.color else 'primary' end
  = f.submit "#{item.id}. #{item.name}", class: "btn btn-#{color} btn-link text-wrap text-white font-weight-bold p-4", style: 'font-size: 1.5em; height: 100%; width: 100%'
