var item = document.getElementById("item-quantity-#{@product.id}");

if (item === null) {
var list = document.getElementById("listProducts");
list.innerHTML = list.innerHTML + "#{escape_javascript(render('product_item', product: @product))}";
} else {
item.innerHTML = "#{@product.order_quantity}";
}

document.getElementById("totalOrder").innerHTML = "#{@current_order.total}";
