.row
  .col-12.col-md-8#accordion
    .card
      .card-header#headFoods
        %h5.mb-0
          %button.btn.btn-link.btn-block{ 'data-toggle': 'collapse', 'data-target': '#contentFoods', 'aria-expanded': 'true', 'aria-controls': 'contentFoods' }
            %h4= t('foods.name')

      .collapse.show#contentFoods{ 'aria-labelledby': 'headFoods', 'data-parent': '#accordion' }
        .card-body
          .row.justify-content-center.scrollable-accordion
            - @foods.each do |food|
              = render partial: 'products_list', locals: { item: food, url: add_product_order_path(id: food.id) }
    .card
      .card-header#headDrinks
        %h5.mb-0
          %button.btn.btn-link.btn-block{ 'data-toggle': 'collapse', 'data-target': '#contentDrinks', 'aria-expanded': 'true', 'aria-controls': 'contentDrinks' }
            %h4
              = t('drinks.name')

      .collapse#contentDrinks{ 'aria-labelledby': 'headDrinks', 'data-parent': '#accordion' }
        .card-body
          .row.justify-content-center.scrollable-accordion
            - @drinks.each do |drink|
              = render partial: 'products_list', locals: { item: drink, url: add_product_order_path(id: drink.id) }
  .card.col-12.col-md-4
    .card-body
      .card-title
        %h2.font-weight-bold
          = @current_order.id
          = render partial: 'modal_note', locals: { order: @current_order }
        .float-right= link_to t('settings.name'), settings_path
            
      %h5.card-subtitle=t('orders.id')
      %hr.m-3
      .card-group
        - @relevant_products&.each do |product|
          .card
            .card-body
              .card-title= product[:name]
              .font-weight-bold= product[:quantity]
      %hr
      .card.my-5
        .card-header
          %h4.card-title
            = t('products.list')
        .card-body
          %ul.list-group#listProducts.scrollable-revise-items
            - @current_order&.products_with_quantity.each do |product|
              = render 'product_item', product: product
      %hr.my-5
      .row
        %h1.col-12.col-md-6
          = t('orders.total') ++ " €"
          %span.font-weight-bold#totalOrder= @current_order.total
        = form_with model: @current_order, url: save_order_path, class: "col-12 col-md-6", method: :post, local: true do |orderForm|
          = orderForm.submit t('orders.save'), class: 'btn btn-lg btn-primary btn-block'
