if ( "#{@product.order_quantity}" === "0") {
var item = document.getElementById("item-#{@product.id}");
item.parentNode.removeChild(item);
} else {
var quantityItem = document.getElementById("item-quantity-#{@product.id}");
quantityItem.innerHTML = "#{@product.order_quantity}";
}

document.getElementById("totalOrder").innerHTML = "#{@current_order.total}";
